* {
    margin: 0;
    padding: 0;
    
  }
  body{
    background-color:  #ddd;
    background-image: url(../img/logo.png); 
    background-repeat: no-repeat;
  }
  h4{font-family: cursive}
  span {display: block;}
  .style_dy{border:1px solid #9fa19e;width:390px;border-radius: 10px;padding-top: 5px;height: 80px;margin-top: 15px}

  #password_box{width: 1324px;height: 800px;background-color: #007cc0;z-index: 1;position: absolute;}
  #password_box img{position: absolute; top : 35%;left: 40%;}  
  #password_box #btn_value{position: absolute;display: block;width: 200px;height: 25px;top : 47%;left: 44%;}
  #password_box #btn_password{position: absolute;display: block;width: 200px;height: 25px;top : 55%;left: 44%;}
  #centen {
    margin-left: 34%;
    margin-top: 5%;
    border: 2px solid #9fa19e;
    border-radius: 15px;
    display: inline-block;
    width: 400px;
    height: 700px;
    padding-left: 10px;
    background-color: white;
  }
  #uoload{margin-top: 10px;margin-left: 30%}
  #vfcode {
    display: none;
    position: absolute;
  }
  #az{height: 450px}
  #oDiv {border:1px solid #9fa19e;width:380px;border-radius: 10px;padding-top: 5px;height: 350px;margin-top: 15px;margin-left: 5px}
  .sizeDiv {
    width: 380px;
    height: auto;
    border: 3px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
  }
  #uoload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
  }

  #uoload input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
  }
  #bar {
    width: 420px;
    height: 250px;
    background: #f1f1f1;
    border-radius: 20px;
    position:absolute;
    left : 33%;
    top: 175px;
    z-index: 1;
  }
  #bar_title {
    border-radius: 20px 20px 0 0;
    height: 58px;
    background: #eaeaea;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    line-height: 20px;
  
  }
  #bar_title p{display: inline-block;position: absolute;top : 25px;left: 20px;color: #86d64e}
  #bar #bar_btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    background: ghostwhite;
    float: right;
    margin-right: 18px;
    margin-top: 20px;
  
  }
  #bar progress {
    margin-top: 100px;
    margin-left: 90px;
    display: inline-block;
    height: 50px;
    width: 230px;
    border-radius: 15px;
  }
  #bar #loadding{color: #86d64e}
  /* 谷歌兼容 */
  /* 表示总长度背景色 */
  #bar progress::-webkit-progress-bar {
    background-color: #c5c5c5;  
  }
  /* 表示已完成进度背景色 */
  #bar progress::-webkit-progress-value {
    background: #86d64e;
  }
  /* -------------------------------- */
  /* 火狐兼容 */
  /* 表示已完成进度背景色 */
  progress::-moz-progress-bar {
    /* background-color: #c5c5c5; */
    border-radius: 1rem;
  
  }
  /* 表示总长度背景色 */
  progress::-moz-progress-value {
    background: #86d64e;
    border-radius: 1rem;
  }
  #bar span {
    display: inline-block;
  }

 #oDiv_bt_erre #bt_erre{   
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block; 
    /* top:10px; */
    /* 不能写top  会跟伪类有冲突 */
    margin-top: 10px;  
    left: 30%;
   }
   #bt_erre:active{top: 2px}